# OpenAgenda API
OPENAGENDA_API_KEY=
OPENAGENDA_AGENDA_SLUG=culture
OPENAGENDA_CITY=Paris

# Mistral API
MISTRAL_API_KEY=
MISTRAL_EMBEDDING_MODEL=mistral-embed

# FAISS vectorstore build
FAISS_CHUNK_SIZE=1000
FAISS_CHUNK_OVERLAP=150